# Core Dependencies
fastapi==0.85.0
uvicorn[standard]==0.20.0
pydantic==1.10.2

# NLP Tools
bert-score==0.3.12
torch>=1.6.0,<2.0.0  # Shared dependency for bert-score and unbabel-comet
nltk==3.8.1
evaluate==0.2.2
unbabel-comet==2.0.0

# System Tools
cmake>=3.22.0,<3.25.0
