# CODEOWNERS: Define code owners for specific parts of the repository.
# Ensure correct GitHub username capitalization and organization prefixes.

# Owners for the dotnet directory and its subdirectories
/dotnet/ @microsoft/octo-semantickernel-pr-dotnet

# Owners for the python directory and its subdirectories
/python/ @microsoft/octo-semantickernel-pr-python

# Owners for the java directory and its subdirectories
/java/ @microsoft/octo-semantickernel-pr-java

# Owners for all files in the root directory
/* @microsoft/vscodeazuretoolsdev

# Owners for all files in the vscode-azure-account directory
/vscode-azure-account/ @microsoft/vscodeazuretoolsdev
